<div class="control-group nested-fields">
	<div class="controls form-inline">
		<%= link_to_remove_association "Remove Tag", f, class: 'btn btn-danger btn-sm' %>
		<br>
		<br>		
		<%= f.fields_for :tag do |list_tag_tag| %>
			<%#= list_tag_tag.label :tags,label: false   -->  unabeling this label won't appear on the form %> 
			<%= list_tag_tag.text_field :name, class: "form-control" %>
		<% end %>		
	</div>
</div>
