<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "Remove Task", f, class: 'btn btn-danger btn-sm' %>
  </td>
  <td><%= f.input :name, label: false %></td>
  <td><%= f.input :completed, label: false %></td>  
</tr>