<br>
<div class="row">
		<div class="col-12 mx-auto"> <%# This will take 8 columns and center them %> 
			<h1>New Todo</h1>
			<br>
			<%= render 'form', todo: @todo %>
			<br>
			<%= link_to 'Back', todos_path, class: 'btn btn-secondary' %>
		</div>
</div>
